/* Main Content */
main {
    padding: 2rem;
    background-color: rgb(247, 173, 0);
}
.all-product-effect{
        margin: 0px;
        margin-left: 250px;
        padding: 7px;
        box-sizing: border-box;   
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #ffffff;
        flex-direction: row;
        background-color: rgb(247, 173, 0);
    
}

#products {
    padding-left: 10px;
    text-align: center;
}
.text-prooduct{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding-left: 240px;
    color: aqua;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    
    

}

.product-item {
    background: #000000;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.product-item:hover {
    transform: scale(1.02);
    background-color: rgb(247, 0, 247);
}

.product-image {
    position: relative;
    
}

.product-image img:first-child {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
    opacity: 0.9;
    
}

.product-item h3 {
    margin-top: 0.8rem;
    font-size: 1.1rem;
    
}

.price {
    font-size: 1rem;
    color: #00ff00;
    font-weight: bold;
}
.panier-button{
    align-items: center;
    justify-content: space-between;
}